<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, class: "form-control", placeholder: 'タイトル' %><br />
  </div>

  <div class="field">
    <%= f.text_area :content, size: "90x7", class: "form-control", placeholder: '内容' %><br />
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-default"%>
  </div>
<% end %>
