
  <p class = "flash"><%= notice %><%= alert %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>最新の質問</h1><br />
        <% @questions.each do |question| %>
          <div class="question">
            <%= link_to question_path(question) do %>
              <h4><%= question.title %></h4>
            <% end %>
            <% if question.is_resolution? %>
              <span class="label label-success">解決</span>
            <% else %>
              <span class="label label-warning">未解決</span>
            <% end %>
            投稿者: <%= link_to "#{question.user.name}", users_path(question.user) %> さん
            更新日: <%= l question.updated_at, format: :short %><br />
            <br />
          </div>
        <% end %>
        <%= paginate @questions %>
        <br>
      </div>
    </div>
  </div>
