<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <div class="container">
      <%= value %>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="question-title">
        <%= link_to resolution_text(@question), resolution_question_path(@question), method: :patch, class: "btn btn-default" %>
        <h2>
          <%= @question.title %>
        </h2>
      </div>

      <p>
        <div class="question-content">
        <% @question.taggings.each do |tagging| %>
          <span class="label label-primary"><%= tagging.tag.title %></span>
        <% end %>
      </p>

      <p>
        <div class="question-content">
        <%= @question.content %>
      </p>

      <p>
        <% if @question.is_resolution? %>
          <span class="label label-success">解決</span>
        <% else %>
          <span class="label label-warning">未解決</span>
        <% end %>
      </p>

      <p>
        投稿者: <%= @question.user.name %>さん
        更新日: <%= l @question.updated_at, format: :short %>
      </p>

      <div class="question-edit">
        <% if current_user&.id == @question.user.id %>
          <%= link_to '編集', edit_question_path(@question), class: "btn btn-info" %>
          <%= link_to '削除', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>

      <% @answers.each do |answer| %>
        <div class="answer">
          <p><%= answer.body %></p>
          <% if user_signed_in? %>
            <% evaluation = Evaluation.find_by(user_id: current_user.id, answer_id: answer.id) %>
            <% if evaluation.blank? %>
              <%= link_to '', good_answer_path(answer), method: :patch, class: 'glyphicon glyphicon-thumbs-up color-blue' %>
              <%= link_to '', bad_answer_path(answer), method: :patch, class: 'glyphicon glyphicon-thumbs-down color-red' %>
            <% elsif evaluation.good? %>
              <i class='glyphicon glyphicon-thumbs-up color-blue'></i>
              <%= link_to 'Good取り消し', cancel_answer_path(answer), method: :patch, class: "btn btn-default" %>
            <% elsif evaluation.bad? %>
              <i class='glyphicon glyphicon-thumbs-down color-red'></i>
              <%= link_to 'bad取り消し', cancel_answer_path(answer), method: :patch, class: "btn btn-default"  %>
            <% end %>

            <div class="answer-edit">
              <p>
                回答者: <%= answer.user.name%>さん
                回答日: <%= l answer.created_at, format: :short %>
                更新日: <%= l answer.updated_at, format: :short %>
              </p>
              <% if current_user.id == answer.user_id %>
                <%= link_to '編集', edit_answer_path(answer), class: "btn btn-info" %>
                <%= link_to '削除', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              <% end %>
            </div>
            <br />
            <div class="answer-edit">
              <% if answer.evaluations.exists?(rating: "good") %>
                <%= link_to 'goodしたユーザー一覧', good_users_answer_path(answer), class: "btn btn-default" %>
              <% end %>
              <% if answer.evaluations.exists?(rating: "bad") %>
                <%= link_to 'badしたユーザー一覧', bad_users_answer_path(answer), class: "btn btn-default" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if user_signed_in? %>
        <br />
        <h2>回答</h2>

        <%= form_for(@answer) do |f| %>
          <% if @answer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

              <ul>
              <% @answer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.text_area :body, size: "90x7" %>
            <%= f.hidden_field :user_id%>
            <%= f.hidden_field :question_id%>
          </div>

          <div class="question-action">
            <%= f.submit '回答する', class: "btn btn-default" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<% if @recommended_questions.present? %>
  <div class="container-fluid">
    <div class="recommended">
      <h4>こちらもおすすめです</h4>
      <ul>
        <% @recommended_questions.each do |question| %>
          <li><%=  link_to question.title, question_path(question) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
