<p id="notice"><%= notice %></p>

<p>
  <% if @question.user.id == current_user&.id %>
    <%= link_to "#{@question.is_resolution}", resolution_question_path(@question), method: :patch%>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Is resolution:</strong>
  <%= @question.is_resolution %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user_id %>
</p>

<p>
  <strong>Created_at:</strong>
  <%= @question.created_at %>
</p>

<p>
  <strong>Updated_at:</strong>
  <%= @question.updated_at %>
</p>


<% if current_user&.id == @question.user.id %>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Destroy', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', questions_path %>

<% if user_signed_in? %>

  <br />
  <br />
  <br />
  <h1>回答する</h1>

  <%= form_for(@answer) do |f| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

        <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.label :user_id %>
      <%= f.hidden_field :user_id%>
    </div>

    <div class="field">
      <%= f.label :question_id %>
      <%= f.hidden_field :question_id%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<% @answers.each do |answer| %>
  <p><%= answer.user.name %>さんの回答</p>
  <%= answer.body %>


  <% if user_signed_in? %>
    <br />

    <% evaluation = Evaluation.find_by(user_id: current_user.id, answer_id: answer.id) %>
    <% if evaluation.blank? %>
      <%= link_to 'Good', good_answer_path(answer), method: :patch %>
      <%= link_to 'bad', bad_answer_path(answer), method: :patch %>
    <% elsif evaluation.good? %>
      <%= link_to 'Good取り消し', cancel_answer_path(answer), method: :patch %>
    <% elsif evaluation.bad? %>
      <%= link_to 'bad取り消し', cancel_answer_path(answer), method: :patch %>
    <% end %>

    <% if answer.user.id == current_user&.id %>
      <br >
      <%= link_to 'Edit', edit_answer_path(answer) %>
      <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

  <% end %>
<% end %>
