<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="password-title">
        <h2>パスワード再設定</h2><br />
      </div>

      <div class="password">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: 'パスワード *6文字以上で設定して下さい' %><br />
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: '確認用パスワード' %><br />
          </div>

          <div class="actions">
            <%= f.submit "パスワードを変更する", class: "btn btn-default"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
